*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button, a {
    all: unset;
}
ul {
    list-style: none;
}


/* variables */
:root {
    --white: hsl(0, 0%, 100%);
    --gray-0: hsl(0, 0%, 95%);
    --gray-1: hsl(0, 0%, 90%);
    --gray-2: hsl(0, 0%, 80%);
    --gray-4: hsl(0, 0%, 60%);

    --gray-5: hsl(0, 0%, 40%);
    --gray-7: hsl(0, 0%, 20%);
    --gray-8: hsl(0, 0%, 10%);
    --gray-9: hsl(0, 0%, 5%);
    --black: hsl(0, 0%, 0%);

    --c-electric-blue: hsl(210, 100%, 50%);
    /* --clr-dev: hsl(300, 100%, 50%); */
}

.light-theme {
    --bg-base : var(--white);
    --bg-0 : var(--gray-0);
    --bg-1 : var(--gray-1);
    --bg-2 : var(--gray-2);

    --br-1 : var(--gray-4);

    --fc-0 : var(--gray-9);
    --fc-1 : var(--gray-8);
    --fc-2 : var(--gray-7);
}

.dark-theme {
    --bg-base : var(--black);
    --bg-0 : var(--gray-9);
    --bg-1 : var(--gray-8);
    --bg-2 : var(--gray-7);

    --br-1 : var(--gray-5);

    --fc-0 : var(--gray-0);
    --fc-1 : var(--gray-1);
    --fc-2 : var(--gray-2);
}


/* general */
.fix_to_container {
    width: 100%;
    height: 100%;
}
.svg_icon {
    color: var(--fc-2);
    fill: var(--fc-2);
}
.svg_icon:hover {
    color: var(--fc-0);
    fill: var(--fc-0);
}

button, a {
    cursor: pointer;
    color: inherit;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: var(--fc-1);
    --main-bar-height: 3rem;
    background-color: var(--bg-1);
}


.c_main_bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--main-bar-height);
    border-bottom: 1px inset var(--br-1);
}

.main_bar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background: var(--bg-1);
    --bar-side-padding: 5vw;
}

.c_nav {
    position: relative;
    display: flex;
}
.c_nav_toggle {
    position: relative;
    left: var(--bar-side-padding);
    display: flex;
    align-items: center;
    height: 100%;
}
.c_nav_toggle button {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: relative;
    z-index: 3000;
    cursor: pointer;
}

.c_nav > button[aria-expanded="true"]{
}

.c_nav_toggle .page_name {
    position: relative;
    left: 1rem;
    font-weight: 900;
}
.c_nav_toggle .page_name sup {
    position: relative;
    margin-left: 0.5ch;
    font-weight: 100;
    font-size: 0.75em;
}


.c_nav .primary_navigation {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    height: calc(100vh - var(--main-bar-height));
    background: var(--bg-1);
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding-top: calc(var(--bar-side-padding)/2);
    padding-inline: var(--bar-side-padding);
    transform: translateX(-101%);
    transition: transform 350ms ease-out;
    border-right: 1px inset var(--br-1);
    color: var(--fc-1);

    background: var(--bg-1);
}

.primary_navigation[data-visible="true"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: hsl(0, 0%, 0%, 50%);
    transition: none;
}


.c_nav_item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 2rem;
    width: max-content;
    align-items: center;
}
.c_nav_item img{
    height: 100%;
    aspect-ratio: 1;
}





.primary_navigation .c_nav_item {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--fc-1);
}

.primary_navigation[data-visible="true"] {
    transform: translateX(0%);
}



.c_search {
    position: relative;
    width: fit-content;
    padding-right: var(--bar-side-padding);
    display: flex;
    gap: 0.5ch;
    height: 50%;
    margin-block: auto;
}
.c_search_input {
    position: relative;
    height: 100%;
    width: clamp(12ch, 20vw, 24ch);
    display: flex;
    flex-direction: column;
    --result-display: none;
}
.c_search_input:focus-within {
    --result-display: flex;
}
.c_search input[type='text'] {
    height: 100%;
    padding-left: 1ch;
    outline: none;
    border: 1px solid var(--br-1);
    background-color: var(--bg-base);
    color: var(--fc-1);
}
.c_search input[type='text']:focus {
    border: 1px solid var(--c-electric-blue);
}
.c_search_results {
    position: absolute;
    top: 100%;
    width: 100%;
    display: var(--result-display);
    flex-direction: column;
    overflow-x: hidden;
    white-space: nowrap;
    background-color: var(--bg-base);
    border: 1px solid var(--br-1);
    border-top: none;
}
.c_search_results a {
    padding-inline: 1ch;
    padding-block: 0.5ch;
    color: var(--fc-2);
}
.c_search_results a:hover {
    background-color: var(--bg-0);
    color: var(--fc-1);
}



.c_main_content {
    display: flex;
    justify-content: center;
}

.main_content {
    margin-inline: 5%;
    margin-block: 5vh;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    background-color: var(--bg-3);
}

@media (min-width:720px) and (max-width:960px) {
    .main_content {
        max-width: 720px;
    }
}

@media (min-width:1440px) {
    .main_content {
        max-width: 1440px;
    }
}

.presentation {
    background-color: var(--bg-1);
    margin-block: 5vh;
    text-align: center;
    outline: 1px outset var(--clr-dev);
    max-width: 720px;
}
.presentation h1 {
    background-color: var(--bg-1);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.presentation h6 {
    background-color: var(--bg-1);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.projects_preview {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    background-color: var(--bg-1);
}
.project {
    background-color: var(--bg-1);
    outline: 1px outset var(--clr-dev);
}


.project p {
    color: var(--fc-2);
}

.p_section {
    width: 100%;
}
.p_page {
    max-width: max-content;
}
.p_image {
    max-width: 100%;
}
.p_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p_header {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    color: var(--fc-1);
}
.p_description {
    margin-top: 0.25rem;
    margin-left: 0.75rem;
    color: var(--fc-1);
}
.p_credit {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 0.5rem;
    font-weight: 300;
    color: var(--fc-2);
}
.p_credit a {
    font-weight: 600;
}

@media (min-width:960px) {
    .project {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .project.right {
        flex-direction: row-reverse;
    }
}